



@section Scripts {
<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular-route/angular-route.min.js"></script>
<script src="~/app/app.js"></script>
<script src="~/lib/angular-google-chart/ng-google-chart.min.js"></script>
<script src="~/app/app.config.js"></script>
<script src="~/app/directives/waitCursor.js"></script>
<script src="~/app/services/GoogleChartsParseService.js"></script>
<script src="~/app/services/IpService.js"></script>
<script src="~/app/services/FormParseService.js"></script>
<script src="~/app/services/AppHttpService.js"></script>
<script src="~/app/HomeController.js"></script>
<script src="~/app/PollController.js"></script>
<script src="~/app/AuthPollController.js"></script>

}

<div ng-view></div>