body
{
    background-color: #8b9dc3;
}

nav
{
    border-radius: 10px;
}

.jumbotron
{
    margin-top: 5%;
    background-color: #f1f1f1
}

#poll
{
    border: 1px solid #ddd;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}