<div id="confirmationOverlay">
    <div class="text-center">
        <div id="overlayPanel">
            <h1>Are you sure you want to delete this poll?</h1>
            <div class="container">
                <div class="row" style="margin-top: 25px;">
                    <div class="col-md-6">
                        <button class="btn btn-danger btn-lg" ng-click="poll.deletePoll()">Delete</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success btn-lg" ng-click="poll.hideOverlay()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>